.hero {
    padding-top: 3rem;
    padding-bottom: 7rem;
    background-image: url("../../../public/assets/images/hero-image.png");
    background-size: cover;
    background-position: center;
}

@include media-breakpoint-up(lg) {
    .hero {
        height: 100vh;
        padding-top: 144px;
        padding-bottom: 144px;
    }
    .hero-text {
        padding-left: 15.9rem;
        padding-right: 15.9rem;
    }

    .font-extra-extra-large {
        font-size: 6rem;
    }
    .font-small {
        font-size: 1.5rem;
    }
}

.custom-padding {
    padding-top: 144px;
    padding-bottom: 144px;
}

// PROMOTION
.min-h-372px {
    min-height: 372px;
}

// INFOGRAPHIC
.info-image {
    max-width: 100%; // Make sure the image doesn't exceed its container width
    width: auto; // Allow the image to maintain its aspect ratio
    height: auto; // Maintain aspect ratio by not forcing a specific height
}

@media (max-width: 768px) {
    .info-image {
        max-width: 80%; // Smaller image for mobile
    }
    .hero-text {
        font-size: small;
    }
}

@media (min-width: 992px) {
    .info-image {
        max-width: 50%; // Larger image for desktop
    }
}
