body {
    background-color: $background-dark;
}

.h-48px {
    height: 48px;
}

.navbar {
    background-color: $navbar-bg-color;
}

.form-control {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: $input-color;
    color: $text-color-search;
    &:focus,
    &:active {
        background-color: $input-color;
        color: $text-color-search;
        border-color: $input-color;
        box-shadow: none;
    }
}

.input-group-text {
    background-color: $input-color;
    color: $text-color-search;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.input-group-text img {
    max-width: 100%;
    height: auto;
}

.navbar-nav {
    .nav-link.active {
        color: $white;
        font-weight: bold;
    }
    .nav-link {
        color: $white;

        &:hover {
            color: $gray-200;
        }
    }
}

.nav-item {
    padding-left: 0;
    padding-right: 0;
}

@include media-breakpoint-up(lg) {
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.btn-primary-black {
    background-color: $black-button;
    color: $white;
    border-radius: 50px;
    padding: 0.56rem 4rem;
    min-width: 128px;

    &:hover {
        background-color: $gray-100;
        color: $black;
    }
}

.btn-primary {
    background-color: $primary-blue;
    color: $white;
    border-radius: 50px;
    padding: 0.56rem 4rem;
    min-width: 128px;

    &:hover {
        color: $primary-blue;
        background-color: $white;
    }
}

// HERO
.btn-secondary {
    background-color: transparent;
    border: 2px solid $primary-blue;
    border-color: $primary-blue;
    color: $white;
    border-radius: 50px;
    padding: 0.56rem 4rem;
    min-width: 128px;

    &:hover {
        color: $white;
        background-color: $primary-blue;
        border-color: $primary-blue;
    }
}

.min-h-372px {
    height: 800px;
}

// HELP OTHERS

.py-80px {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pt-80px {
    padding-top: 80px;
}

.card {
    color: white;
    background-color: $navbar-bg-color;
    border: none;
    border-radius: 8px;
    padding: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-fluid {
    @include media-breakpoint-down(lg) {
        display: flex;
        justify-content: center; /* Mengatur agar div berada di tengah horizontal */
        align-items: center; /* Mengatur agar div berada di tengah vertikal */
    }
}

.padding-container {
    padding-left: 15rem;
    padding-right: 15rem;
    @include media-breakpoint-down(lg) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @include media-breakpoint-down(md) {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem; /* Tambahan padding atas pada layar md */
    }
}

.img-container {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.color-gray {
    color: $gray-500;
}

.card-avatar-sm {
    width: 18px;
    height: 18px;
}

.text-bg-light {
    &:hover {
        color: $primary !important;
    }
}

.avatar-sm-wrapper {
    height: 24px;
    width: 24px;
}

.avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fs-12px {
    font-size: 12px;
}

// FOOTER
footer {
    background-color: $navbar-bg-color;
}

.me-140px {
    margin-right: 140px;
}

// DETAIL PAGE
.like-icon {
    height: 32px;
    width: 32px;
}

// CREATE/EDIT DISCUSSION
pre {
    padding: 12px;
    font-size: 14px;
    background-color: #262626;
    border: 0.5px solid grey;
    border-radius: 6px;
    color: #999999;
}

.note-editable {
    color: #fff; /* Gunakan kode warna putih sesuai kebutuhan */
}

// PROFILE
.avatar-wrapper {
    height: 128px;
    width: 128px;
}

// DROP DOWN
.avatar-nav-wrapper {
    height: 36px;
    width: 36px;
}

.dropdown-menu {
    background-color: $navbar-bg-color;
    padding: 0;
}

.dropdown-item {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.navbar-nav .dropdown-menu {
    left: -15px;
    right: auto;
    border-radius: 10px;
}

.navbar-nav .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navbar-nav .dropdown-menu .dropdown-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:active {
    background-color: #495057;
    color: #ffffff;
}

.navbar-dark .navbar-toggler {
    border: none;
}

// PAGINATION
// Mengubah warna teks dan gaya pagination
.pagination-info {
    color: white;
    font-weight: 500;
}

// Mengubah gaya link pagination
.pagination {
    .page-link {
        color: white; // Mengubah warna teks tautan pagination menjadi putih
        background-color: $navbar-bg-color; // Menghapus latar belakang default
        border-color: white; // Mengatur warna border default
        &:hover {
            color: #ccc; // Warna teks saat hover
            background-color: $navbar-bg-color; // Latar belakang saat hover
            border-color: white; // Border warna saat hover
        }
    }

    // Mengatur gaya item pagination yang aktif
    .page-item.active .page-link {
        background-color: white; // Mengubah warna latar belakang item aktif
        color: $navbar-bg-color; // Mengubah warna teks item aktif
    }

    // Mengatur gaya item pagination yang disabled
    .page-item.disabled .page-link {
        color: #666; // Warna teks item disabled
        background-color: $navbar-bg-color; // Latar belakang item disabled
        border-color: white; // Border item disabled
    }
}

.align-center {
    text-align: justify;
}
