body {
    background-color: $background-dark;
}

.h-48px {
    height: 48px;
}
.navbar {
    background-color: $navbar-bg-color;
}

.form-control {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: $input-color;
    color: $text-color-search;
    &:focus,
    &:active {
        background-color: $input-color;
        color: $text-color-search;
        border-color: $input-color;
        box-shadow: none;
    }
}
.input-group-text {
    background-color: $input-color;
    color: $text-color-search;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.input-group-text img {
    max-width: 100%;
    height: auto;
}

.navbar-nav {
    .nav-link.active {
        color: $white;
        font-weight: bold;
    }
    .nav-link {
        color: $white;

        &:hover {
            color: $gray-200;
        }
    }
}

.nav-item {
    padding-left: 0;
    padding-right: 0;
}

@include media-breakpoint-up(lg) {
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.btn-primary-black {
    background-color: $black-button;
    color: $white;
    border-radius: 50px;
    padding: 0.56rem 4rem;
    min-width: 128px;

    &:hover {
        background-color: $gray-100;
        color: $black;
    }
}

.btn-primary {
    background-color: $primary-blue;
    color: $white;
    border-radius: 50px;
    padding: 0.56rem 4rem;
    min-width: 128px;

    &:hover {
        color: $primary-blue;
        background-color: $white;
    }
}

// HERO
.btn-secondary {
    background-color: transparent;
    border: 2px solid $primary-blue;
    border-color: $primary-blue;
    color: $white;
    border-radius: 50px;
    padding: 0.56rem 4rem;
    min-width: 128px;

    &:hover {
        color: $white;
        background-color: $primary-blue;
        border-color: $primary-blue;
    }
}

.height-promotion {
    height: 100vh;
}
