// COLOR
$primary-blue: #4942e4;
$text-color: #ffffff;
$background-dark: #101010;
$navbar-bg-color: #171717;

// FONT
$font-family-sans-serif: "Segoe UI", system-ui, -apple-system, Roboto,
    "Helevetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 700;
