// COLOR
$blue: #389af5;
$body-color: #414141;

// FONT
$font-family-sans-serif: rubik, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helevetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 700;
